<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projetos</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <!-- Header -->
    <header class="all-pages-header">
        <div class="header-logo">
            <p class="smile"><img src="../assets/smile.png" alt="smile"></p>
        </div>
        <nav>            
            <ul>
                <li><a action="/" href="../index.html">Home</a></li>
                <li><a action="/projetos" href="projetos.html">Projetos</a></li>
                <li><a action="/sobre-mim" href="sobre-mim.html" >Sobre mim</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main -->
    <main>
        <section class="section-projetos"> 
            <div class="section-projetos-flex">
                <div class="section-projetos-titulo">
                    <h1>Projetos</h1>
                    <ul>
                        <li>
                            <figure class="section-projetos-curso-em-video">                                
                                <div class="section-projetos-curso-em-video-header">
                                    <h3>Curso em vídeo da linguagem C</h3>
                                    <a href="https://youtube.com/@RodrigoOnofri" target="_blank"><img src="../assets/chanel.png" alt="chanel"></a>
                                </div>
                                <p>Criei um canal afim de disseminar de forma gratuita exercícios com suas respectivas explicações da linguagem de programação C99.</p>
                            </figure>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </main>

    <footer class="all-pages-footer">
        <p>Projected by Rodrigo Onofri</p>
    </footer>
</body>
</html>