<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre mim</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <!-- Header -->
    <header class="all-pages-header">
        <div class="header-logo">
            <div class="header-logo">
                <p class="smile"><img src="../assets/smile.png" alt="smile"></p>
            </div>
        </div>
        <nav>
            <ul>
                <li><a action="/" href="../index.html">Home</a></li>
                <li><a action="/projetos" href="projetos.html">Projetos</a></li>
                <li><a action="/sobre-mim" href="sobre-mim.html" >Sobre mim</a></li>
            </ul>
        </nav>
    </header>  

    <!-- Main -->
    <main>
        <section class="section-sobre-mim">
            <div class="section-sobre-mim-flex">
                <div class="section-sobre-mim-header">
                    <h1>Sobre mim</h1>
                    <img src="../assets/Rodrigo.jpg" alt="rodrigo" id="rodrigo">
                </div>
                <div class="section-sobre-mim-content">
                    <p>Atualmente, sou graduando do curso de Sistemas de Informação na Universidade Federal de Itajubá - UNIFEI. No tocante a minha personalidade, desde pequeno, tenho praticado o poder do otimismo e criatividade para resolver os meus problemas com resiliência, sou comprometido com os meus objetivos, competitivo, entusiasta de estudar e compreendo a importância de impulsionarmos o nosso time, para assim, trabalharmos juntos com uma mentalidade de excelência. Por fim, tenho aumentado a minha experiência com metodologias de desenvolvimento Full-Stack devido a esse projeto pessoal e algumas certificações que você pode visualizar no meu linkedin. Obrigado pela sua atenção!</p>
                    <div class="section-sobre-mim-img">
                        <ul>
                            <li>
                                <img src="../assets/c.svg" alt="C">
                            </li>
                            <li>
                                <img src="../assets/javascript.svg" alt="JS">
                            </li>
                            <li>
                                <img src="../assets/express.svg" alt="EJS">
                            </li>
                            <li>
                                <img src="../assets/css3.svg" alt="CSS3">
                            </li>
                            <li>    
                                <img src="../assets/html5.svg" alt="HTMTL5">
                            </li>
                            <li>
                                <img src="../assets/mysql.svg" alt="MySQL">
                            </li>
                            <li>
                                <img src="../assets/nodejs.svg" alt="NodeJs">
                            </li>
                            <li>
                                <img src="../assets/python.svg" alt="Python">
                            </li>
                            <li>
                                <img src="../assets/sqlite.svg" alt="SQLite">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer class="all-pages-footer">
        <p>Projected by Rodrigo Onofri</p>
    </footer>
</body>
</html>