<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <!-- Header -->
    <header class="all-pages-header">
        <div class="header-logo">
            <div class="header-logo">
                <p class="smile"><img src="../assets/smile.png" alt="smile"></p>
            </div>
        </div>
        <nav>
            <ul>
                <li><a action="/" href="../index.html">Home</a></li>
                <li><a action="/projetos" href="projetos.html">Projects</a></li>
                <li><a action="/sobre-mim" href="sobre-mim.html" >About</a></li>
            </ul>
        </nav>
    </header>  

    <!-- Main -->
    <main>
        <section class="section-sobre-mim">
            <div class="section-sobre-mim-flex">
                <div class="section-sobre-mim-header">
                    <h1>About</h1>
                    <img src="../assets/Rodrigo.jpg" alt="rodrigo" id="rodrigo">
                </div>
                <div class="section-sobre-mim-content">
                    <p>I'm currently an undergraduate Information Systems student at the Federal University of Itajubá (UNIFEI). Since childhood, I've used the power of optimism and creativity to solve my problems with resilience. I'm committed to my goals, competitive, and knowledge seeker. Hence, I understand the importance of empowering our team to work together with a mindset of excellence. Thank you for your attention!</p>
                    <div class="section-sobre-mim-img">
                        <ul>
                            <li>
                                <img src="../assets/c.svg" alt="C">
                            </li>
                            <li>
                                <img src="../assets/javascript.svg" alt="JS">
                            </li>
                            <li>
                                <img src="../assets/express.svg" alt="EJS">
                            </li>
                            <li>
                                <img src="../assets/css3.svg" alt="CSS3">
                            </li>
                            <li>    
                                <img src="../assets/html5.svg" alt="HTMTL5">
                            </li>
                            <li>
                                <img src="../assets/mysql.svg" alt="MySQL">
                            </li>
                            <li>
                                <img src="../assets/nodejs.svg" alt="NodeJs">
                            </li>
                            <li>
                                <img src="../assets/python.svg" alt="Python">
                            </li>
                            <li>
                                <img src="../assets/sqlite.svg" alt="SQLite">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Footer -->
    <footer class="all-pages-footer">
        <p>Projected by Rodrigo Onofri</p>
    </footer>
</body>
</html>
